.container {
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	align-self: flex-end;
	padding: 0.5em;
}

.button {
  background-color: rgb(var(--background));
	border: none;
	color: rgb(var(--text));
	border-radius: 50%;
	width: 1.7em;
	height: 1.7em;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	transition: background-color 0.2s ease-in-out;

	&:hover,
	&:focus {
		background-color: rgb(var(--accent));
	}
}

.colorButton {
	background-color: rgb(var(--accent));
	border: none;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	transition: background-color 0.2s ease-in-out;
}

.colorButton.nextColorPurple {
	&:hover,
	&:focus {
		background-color: rgb(var(--purple));
	}
}
.colorButton.nextColorYellow {
	&:hover,
	&:focus {
		background-color: rgb(var(--yellow));
	}
}
.colorButton.nextColorBlue {
	&:hover,
	&:focus {
		background-color: rgb(var(--blue));
	}
}
.colorButton.nextColorRed {
	&:hover,
	&:focus {
		background-color: rgb(var(--red));
	}
}
.colorButton.nextColorGreen {
	&:hover,
	&:focus {
		background-color: rgb(var(--green));
	}
}
.colorButton.nextColorPink {
	&:hover,
	&:focus {
		background-color: rgb(var(--pink));
	}
}
