.arrow {
  display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 50;
	
	height: 8em;
	margin-top: 1em;
	background-color: transparent;
	border: none;
	cursor: pointer;
	animation: bobUpDown 5s ease-in-out infinite;

	> svg {
		width: 6em;
		height: 6em;
	}

	@keyframes bobUpDown {
		0% {
			transform: translate(-50%, 0px);
		}
		50% {
			transform: translate(-50%, 20px);
		}
		100% {
			transform: translate(-50%, 0px);
		}
	}
}