.section {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: unset;
	gap: 1em;

	padding: 6em 0;
}

.sectionContent {
  padding: 0.2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

	> p {
		font-size: 1.2em;
		line-height: 1.25em;
		font-weight: 400;
	}
}

.title {
  font-size: clamp(2em, 3vw, 4em);
	font-weight: 700;
	margin-bottom: -0.5em;
	text-transform: uppercase;
	z-index: 3;
	padding: 0 0.1em;

	@media (min-width: 900px) {
		padding: 0 1em;
	}
}

.imageContainer {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;

	overflow: hidden;

	position: relative;

	aspect-ratio: 16 / 10;

	//create a linear gradient on top of the image to make it darker
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
		z-index: 2;

		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(var(--background), 0.2) 100%
		);
	}
}

.image {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
	object-fit: cover;

	width: 100%;
	height: 100%;
}

.left {
  display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;

	width: 80%;

	@media (min-width: 900px) {
		width: 70%;
	}
}

.right {
  display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;

	width: 20%;
	padding: 1.8em 0.2em 0 0;

	@media (min-width: 600px) {
		padding: 1.8em 1em;
	}

	@media (min-width: 900px) {
		width: 30%;
	}

	p {
		font-size: clamp(1em, 2vw, 4em);
		font-weight: 700;
	}
}

.buttonContainer {
  position: relative;
	width: 100%;
	z-index: 3;
}

.viewButton {
  display: inline-block;
	background-color: transparent;
	color: rgb(var(--accent));
	text-decoration: underline;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;

	&:hover,
	&:focus {
		color: rgb(var(--text));
	}

	padding: 0.2em 0.8em;

	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	@media (min-width: 600px) {
		width: 5em;
		height: 5em;
		border-radius: 50%;
		border: 2px solid rgb(var(--text));
		color: rgb(var(--text));
		background: rgba(var(--background), 0.5);
		text-decoration: none;
		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 0;

		position: absolute;
		bottom: 1em;
		left: calc(100% - 2.5em);

		&:hover,
		&:focus {
			background-color: rgb(var(--text));
			color: rgb(var(--background));
			animation-play-state: paused;
			text-decoration: underline;
		}

		animation: spin 10s linear infinite;

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}

.ul {
  list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

.li {
  color: rgb(var(--background));
  background-color: rgb(var(--text));
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;

  white-space: nowrap;

  transition: all 0.2s ease-in-out;

  //the first 3 element should have accent color as background
  &:nth-child(-n + 3) {
    background-color: rgb(var(--accent));
    color: white;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    background-color: rgb(var(--accent));
    color: white;
    font-weight: 800;
    transform: scale(1.2);
  }
}

.gitLiveLink {
  display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;

	svg {
		width: 1.2em;
		height: 1.2em;

		transition: all 0.2s ease-in-out;
		transform: rotateY(0deg);
	}

	&:hover > svg,
	&:focus > svg {
		fill: rgb(var(--accent));
		animation: spinY 5s linear infinite;
	}

	@keyframes spinY {
		0% {
			transform: rotateY(0deg);
		}
		100% {
			transform: rotateY(360deg);
		}
	}
}
